@{
    ViewBag.Title = "INVENTARIO APPLE";
    ViewBag.Usuario = "";

    //var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;

    //if (claimsIdentity != null)
    //{
    //    var c = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.GivenName);
    //    if (c != null)
    //    {
    //        ViewBag.Usuario = c.Value.ToString();
    //    }
    //}

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header" >
               
                <a class="navbar-brand" href="@Url.Action("Index","Query")">
        <img style="max-width:100px; margin-top: 3px;" src="~/Content/Img/logo_cliente_cabecera.png">
    </a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-nav navbar-right">              

                <li class="dropdown">
                    <a class="dropdown-toggle"  href="@Url.Action("Index", "Query")">
                        <i class="fa fa-user fa-fw"></i>Consulta Stock<i class="fa fa-caret-down"></i>
                    </a>
                    
                    <!-- /.dropdown-user -->
                </li>

              @if (Inventory.Web.Sesion.Manager.User.COD_PROFILE == (byte)Inventory.Domain.Enums.USER_PROFILE.ADMIN)
              {
                <li>
                    <a href="@Url.Action("DeleteHistory", "Settings")"><i class="fa fa-bookmark fa-fw"></i> Eliminar Historial</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Users")"><i class="fa fa-key fa-fw"></i> Usuarios</a>
                </li>
              }

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> @Inventory.Web.Sesion.Manager.User.CAR_NAME.ToUpper() <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        
                        <li>
                            <a href="@Url.Action("Password", "Profile")"><i class="fa fa-key fa-fw"></i> Cambiar Contraseña</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Logout", "Login")"><i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li><li class="dropdown" style="width:200px;">
</li>
    <!-- /.dropdown -->
</ul>
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <br />
        <div class="tab">

        </div>


    </div>



    <div id="page-wrapper">
        @RenderBody()
        <!-- /.row -->
        <div class="row form-group">
            <div class="col-md-12" style="text-align:center;color:black;font-size:14px;">
                Copyright © Ingram Micro Chile S.A. Todos los Derechos Reservados.
            </div>
        </div> 
    </div>
    <!-- /#page-wrapper -->
    <div id="wrapper-spin" style="display:none;">
        <div id="spinner-content">
            <div class="spinner" style="position: fixed;width: 0px;z-index: 2000000000;left: 43%;top: 43%;" role="progressbar">
                <i class="fa fa-refresh fa-spin" style="font-size:130px"></i>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <!-- Metis Menu Plugin JavaScript
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript
    <script src="../dist/js/sb-admin-2.js"></script> -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/datepicker-es")
        @Scripts.Render("~/bundles/scripts")*@


    @RenderSection("scripts", required: false)
</body>
</html>
