@model Inventory.Web.Models.Profile.PasswordModel
@{
    ViewBag.Title = "Cambiar contraseña Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    @using (Html.BeginForm("Password", "Profile"))
    {
        @Html.HiddenFor(m => m.UserId)

        <div class="row form-group">
            <div class="col-md-1">
                &nbsp;
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-1">
                        &nbsp;
                    </div>
                    <div class="col-md-10">
                        <h2>@ViewBag.Title</h2>
                    </div>

                    <div class="col-md-1">
                        &nbsp;
                    </div>     <!-- /.row -->
                </div>

                <div class="row">
                    <div class="col-md-1">
                        &nbsp;
                    </div>
                    <div class="col-md-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Actualizar contraseña
                            </div>
                            <div class="panel-body">
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-4" style="text-align:center;">
                                        <strong>
                                            @Html.LabelFor(m=>m.OldPassword)
                                        </strong>
                                    </div>
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                </div>
                           
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-4" style="text-align:center;">
                                        <strong>
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                        </strong>
                                    </div>
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-4" style="text-align:center;">
                                        <strong>
                                            @Html.LabelFor(m => m.NewPassword)
                                        </strong>
                                    </div>
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                </div>
                           
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-4" style="text-align:center;">
                                        <strong>
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                        </strong>
                                    </div>
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                </div>
                           
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-4" style="text-align:center;">
                                        <strong>
                                            @Html.LabelFor(m => m.ConfirmNewPassword)
                                        </strong>
                                    </div>
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-4" style="text-align:center;">
                                        <strong>
                                            @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
                                        </strong>
                                    </div>
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>




                <div class="row">
                    <div class="col-md-1">
                        &nbsp;
                    </div>
                    <div class="col-md-10">
                        @Html.ActionSuccess(Model.MessageSuccess)
                        @Html.ActionError(Model.MessageError)
                    </div>
                    <div class="col-md-1">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        &nbsp;
                    </div>
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-success mr5 mb10"> Actualizar Contraseña </button>
                        &nbsp;
                        <a href="@Url.Action("Password", "Profile", new { @userId = Model.UserId})" class="btn btn-default mr5 mb10">Limpiar  </a>


                    </div>     <!-- /.row -->
                    <div class="col-md-1">
                        &nbsp;
                    </div>
                </div>

                <br />


                @*@Html.ActionLink("Listado de Usuarios", "Index", "Users")*@
            </div>

            <div class="col-md-1">
                &nbsp;
            </div>
        </div>
    }


</section>
