@model Inventory.Web.Models.Users.UserModel
@{
    ViewBag.Title = "Cambio de Contraseña Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
@using (Html.BeginForm("Password", "Users"))
{
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.UserName)
    @Html.HiddenFor(m => m.Email)
    @Html.HiddenFor(m => m.Profile)

       <div class="row form-group">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-10">
                    <h2>@ViewBag.Title</h2>
                </div>

                <div class="col-md-1">
                    &nbsp;
                </div>     <!-- /.row -->
            </div>

            <div class="row">
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Datos de Usuario
                        </div>
                        <div class="panel-body">
                            <div class="row form-group">
                                <div class="col-md-1">
                                    &nbsp;
                                </div>
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.UserName)
                                </div>
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.Password)
                                </div>
                                <div class="col-md-2">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-1">
                                    &nbsp;
                                </div>
                                <div class="col-md-3">
                                    <strong>
                                        @Model.UserName
                                    </strong>
                                </div>
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-3">
                                   @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-1">
                                    &nbsp;
                                </div>
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.Name)
                                </div>
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.Email)
                                </div>
                                <div class="col-md-2">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-1">
                                    &nbsp;
                                </div>
                                <div class="col-md-3">
                                    <strong>
                                        @Model.Name
                                    </strong>
                                </div>
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-3">
                                    <strong>
                                        @Model.Email
                                    </strong>
                                </div>
                                <div class="col-md-2">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-1">
                                    &nbsp;
                                </div>
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.Profile)
                                </div>
                                <div class="col-md-8">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-1">
                                    &nbsp;
                                </div>
                                <div class="col-md-3">
                                    <strong>
                                            @Model.Profile
                                    </strong>
                                </div>
                                <div class="col-md-8">
                                    &nbsp;
                                </div>
                            </div>

                          
                        </div>
                    </div>
                </div>

                
            </div>



   
            <div class="row">
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-10">
                    @Html.ActionSuccess(Model.MessageSuccess)
                    @Html.ActionError(Model.MessageError)
                </div>
                <div class="col-md-1">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-10">
                    <button type="submit" class="btn btn-success mr5 mb10"> Actualizar Contraseña </button>
                    &nbsp;
                    <a href="@Url.Action("Password", "Users", new { @userId = Model.UserId})" class="btn btn-default mr5 mb10">Limpiar  </a>
                    &nbsp;@Html.ActionLink("Listado de Usuarios", "Index", "Users")


                </div>     <!-- /.row -->
                <div class="col-md-1">
                    &nbsp;
                </div>
            </div>

           <br/>





            @*@Html.ActionLink("Listado de Usuarios", "Index", "Users")*@
        </div>

        <div class="col-md-1">
            &nbsp;
        </div>
    </div>
    }


</section>

